# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (these are set in Railway)
.env
.env.*
!.env.example

# Test files
coverage
.nyc_output
*.spec.ts
test

# OS files
.DS_Store
Thumbs.db

# Misc
*.md
!README.md
